{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
  body {
      font-family: Arial, sans-serif; 
      margin: 0;
      padding: 0;
  }
  .buttons-custom2 {
      background-color: rgb(1, 1, 50); /* Dark blue background */
      color: #ffffff; /* White text color */
  }
  .text-custom2 {
      color: rgb(1, 1, 50); /* Dark blue text color */
  }
  
  .table-custom {
      font-family: Arial, sans-serif;
      background-color: rgb(1, 1, 50); /* Dark blue background */
      color: #ffffff; /* White text color */
      margin: 0;
      padding: 0;
      border-collapse: collapse; /* Ensure borders are collapsed */
      width: 100%; /* Make table width 100% of its container */
  }
  
  .table-custom th, .table-custom td {
      border: 1px solid #dddddd; /* Light grey border for cells */
      padding: 8px; /* Padding inside cells */
      text-align: left; /* Align text to the left */
  }
  
  .table-custom th {
      background-color: rgb(0, 0, 50); /* Darker blue for header */
      color: #ffffff; /* White text color for header */
  }
  
  .table-custom tr:nth-child(even) {
      background-color: rgb(20, 20, 60); /* Slightly lighter blue for even rows */
  }
  
  .table-custom tr:hover {
      background-color: rgb(30, 30, 70); /* Hover effect for rows */
  }
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }


  </style>

<h1 class="header">
      <a class="navbar-brand text-custom2" href="{% url 'customers' %}">Customers</a>
      {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'addProduct' %}" class="btn buttons-custom2 me-3">Add</a>
      {% endif %}
      </h1>
    
      
  <table id="customer-table " class="table table-bordered table-striped table-custom ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Logo</th>
        <th scope="col">Company Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      {% if customers %}
        {% for customer in customers %}
          <tr>
            <td>{{ customer.id }}</td>
            <td><img src="{{ customer.logo.url }}" alt="Logo" style="width: 120px; height: 70px;"></td>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.zip_code }}</td>
            <td>{{ customer.notes }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="10">No Customer found.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
