{% extends 'base.html' %}
{% block content %}
<style>
  body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
          }
  .card-costum{
              color: rgb(218, 109, 6);
              background-color: rgb(1, 1, 50);
              line-height:  3cap;
              
  }
  .text-custom {
              color: rgb(218, 109, 6); /* Dark blue text color */
          }
  .buttons-custom {
              background-color: rgb(1, 1, 50); /* Transparent background */
              border: 2px solid rgb(218, 109, 6); /* Blue border */
              color: rgb(218, 109, 6);
          }
  
</style>

<div class="card card-costum">
    <div class="card-header">
        <h5><strong>Company : {{ moreinfoOrder.customer.company_name }}</strong><br/>
        Order ID : {{ moreinfoOrder.id }}<br/></h5>
    </div>
    <div class="card-body">
      <p class="card-title">
        <strong>Order Date</strong> : {{ moreinfoOrder.order_date }}<br/>
        <strong>Delivery Date</strong> : {{ moreinfoOrder.delivery_date }}<br/>
        <strong>Status :</strong> {{ moreinfoOrder.status }}<br/>
        <strong>Total Amount</strong> : {{ moreinfoOrder.total_amount }}<br/>
        <strong>Special File</strong> : {{ moreinfoOrder.special_file }}<br/>
      </p>
      <br/>
      <a href="{% url 'orders' %}" class="btn buttons-custom">Back</a>
      <a href="{% url 'deleteOrder' moreinfoOrder.id %}" class="btn buttons-custom">Delete</a>
      <a href="{% url 'updateOrder' moreinfoOrder.id %}" class="btn buttons-custom">Update</a>
      

    </div>
</div>

                
                
{% endblock %}