{% extends 'base.html' %}

{% block content %}
<style>
  body {
      font-family: Arial, sans-serif; 
      margin: 0;
      padding: 0;
  }
  
  .text-custom2 {
      color: rgb(1, 1, 50); /* Dark blue text color */
  }
  
  .table-custom {
      font-family: Arial, sans-serif;
      background-color: rgb(1, 1, 50); /* Dark blue background */
      color: #ffffff; /* White text color */
      margin: 0;
      padding: 0;
      border-collapse: collapse; /* Ensure borders are collapsed */
      width: 100%; /* Make table width 100% of its container */
  }
  
  .table-custom th, .table-custom td {
      border: 1px solid #dddddd; /* Light grey border for cells */
      padding: 8px; /* Padding inside cells */
      text-align: left; /* Align text to the left */
  }
  
  .table-custom th {
      background-color: rgb(0, 0, 50); /* Darker blue for header */
      color: #ffffff; /* White text color for header */
  }
  
  .table-custom tr:nth-child(even) {
      background-color: rgb(20, 20, 60); /* Slightly lighter blue for even rows */
  }
  
  .table-custom tr:hover {
      background-color: rgb(30, 30, 70); /* Hover effect for rows */
  }
  .buttons-custom2 {
      background-color: rgb(1, 1, 50); /* Dark blue background */
      color: #ffffff; /* White text color */
  }
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  </style>


<h1 class="header">
  <a class="navbar-brand text-custom2" href="{% url 'tasks' %}">Tasks</a>
  {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'addTask' %}" class="btn buttons-custom2 me-3">Add</a>
  {% endif %}
  </h1>

    <table id="task" class="table table-bordered table-striped table-custom">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Created At</th>
          <th scope="col">Description</th>
          <th scope="col">Assigned_To</th>
          <th scope="col">Due Date</th>
          <th scope="col">status</th>
          <th scope="col">Priority</th>
          <th scope="col">Created by</th>
          <th scope="col">Updated by</th>
        </tr>
      </thead>
      <tbody>
        {% if tasks %}
          {% for task in tasks %}
            <tr>
              <td><a class="text-custom" href="{% url 'moreinfoTask' task.id %}">{{ task.title }}</a></td>
              <td>{{ task.created_at }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.assigned_to }}</td>
              <td>{{ task.due_date }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.priority}}</td>
              <td>{{ task.created_by }}</td>
              <td>{{ task.updated_by }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="9"> No task found.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>


{% endblock %}
